

body {

      font-family: 'Fira Sans', sans-serif;
      font-size: 13px;
      padding-top: 5em;
}

.body-background{
  background-image: url("../images/bus.png");
  background-size: cover;
}

.toolbar{
      background-color: white;
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      text-align: center;
      padding: 1em;
      border-bottom: 1px solid #CCC;

}

.toolbar a{
  position: absolute;
    left: 1em;
    top: 1em;
}

.toolbar-titel{
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.6em;
}

.button-primary{
  background-color: #fd0;
  border-radius: 10px;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.button-secondary{
  background-color: rgba(0,0,0,0.8);
  border-radius: 6px;
  padding: 0.6em 2em;
  text-align: center;
  color: #FFF;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 70%;
}

.button-secondary-alt{
  background-color: rgba(255,255,255,255);
  border-radius: 6px;
  padding: 0.6em 2em;
  text-align: center;
  color: rgba(0,0,0,0.8);
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 70%;
}

.txt-center{
  text-align: center;
}

ul.clear{
  list-style: none;
  padding: 0 3em;

}

ul.clear li{
  margin-bottom: 0.6em;
}

.input{
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 0.6em 2em;
  display: block;
  width: calc(100% - 4em);
  border-radius: 6px;
}
 .select{
   width: 100%;
 }

.info{
  background-color: #FFF;
  width: calc(80% - 2em);
  margin: 0 auto 2em;
  padding: 1em

}

.abbo-txt{
  background-color: rgba(255,255,255,255);
  border-radius: 6px;
  padding: 0.6em 2em;
  text-align: center;
  color: rgba(0,0,0,0.8);
  outline: none;
  display: inline-block;
  text-decoration: none;
  width: calc(70% - 4em);
margin: 0 auto 1em;
}

img.kaart{
  width: 80%;
  display: inline-block;
  margin: 2em 0;
}

img.QR{
  width: 70%;
  display: inline-block;
  margin: 2em 0;
}

img.account{
  width: 70%;
  display: inline-block;
  margin: 2em 0;
  background-color: white;
}

.profiel{
  margin-left: 9em;
}

.naam{
  margin-left: 8em;
}
