

body {
      width: 100%;
      height:100%;
      position: fixed;
        top: 0;
        padding: 0px;
        margin: 0px;
      background-image: url("bus.png");
      background-size: cover;
      font-family: 'Fira Sans', sans-serif;

}



header {
      background-color: white;
      height: 100px;
      width: 100%;
      margin-top: 0px;

      position: absolute;
}

.titel1{
  margin-left: 370px;
  margin-top: -45px;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
}
.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
}

.bar1, .bar2, .bar3 {
    width: 55px;
    height: 8px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 30px;
    margin-top: 4px;
}

.icon{
  margin-left: 880px;
  width: 85px;
margin-top: -68px;
}


.buzzypas{
  width: 500px;
height: 500px;
background-color: whitesmoke;
margin-top: 250px;
margin-left: 225px;
position: absolute;
border-radius: 15px;
}
.nummer{
  width: 500px;
height: 50px;
background-color: whitesmoke;
margin-top: 800px;
margin-left: 225px;
position: absolute;
border-radius: 15px;
opacity: 0.8;
}
.naam1{
  width: 600px;
height: 80px;
background-color: whitesmoke;
margin-top: 1000px;
margin-left: 175px;
position: absolute;
border-radius: 15px;
opacity: 0.8;
}

.naam2{
  width: 600px;
height: 80px;
background-color: whitesmoke;
margin-top: 1120px;
margin-left: 175px;
position: absolute;
border-radius: 15px;
opacity: 0.8;
}

.datum1{
  width: 600px;
height: 80px;
background-color: whitesmoke;
margin-top: 1240px;
margin-left: 175px;
position: absolute;
border-radius: 15px;
opacity: 0.8;
}

.datum2{
  width: 600px;
  height: 80px;
background-color: whitesmoke;
margin-top: 1360px;
margin-left: 175px;
position: absolute;
border-radius: 15px;
opacity: 0.8;
}

.abbo{
  width: 600px;
height: 120px;
background-color: #FFD700;
margin-top: 1530px;
margin-left: 165px;
position: absolute;
border: 14px solid white;
border-radius: 25px;
}

.abbo2{
  width: 720px;
height: 70px;
font-size: 3em;
margin-top: 1580px;
margin-left: 260px;
position: absolute;
color: whitesmoke;

}

img{
  width: 100%;
  height: 100%;

}
