

body {
      width: 100%;
      height:100%;
      position: fixed;
        top: 0;
        padding: 0px;
        margin: 0px;
      background-image: url("bus.png");
      background-size: cover;
      font-family: 'Fira Sans', sans-serif;

}



header {
      background-color: white;
      height: 100px;
      width: 100%;
      margin-top: 0px;

      position: absolute;
}

.titel1{
  margin-left: 370px;
  margin-top: -60px;
  font-size: 3em;
  font-weight: bold;
  position: fixed;
}
.menu{
  margin-left: 25px;
  width: 80px;
  margin-top: 20px;
}

.icon{
  margin-left: 760px;
  width: 90px;
margin-top: 15px;
position:  absolute;

}

.invul1{
  width: 600px;
height: 70px;
background-color: black;
margin-top: 250px;
margin-left: 250px;
opacity: 0.6;
position: absolute;
  border-radius: 15px;

}


.invultekst1{
  width: 720px;
height: 70px;
font-size: 2em;
margin-top: 275px;
margin-left: 300px;
position: absolute;
color: whitesmoke;
font-weight: lighter;
}
.invultekst2{
  width: 720px;
height: 70px;
font-size: 2em;
margin-top: 395px;
margin-left: 300px;
position: absolute;
color: whitesmoke;
}




.invul2{
  width: 600px;
height: 70px;
background-color: black;
margin-top: 370px;
margin-left: 250px;
opacity: 0.6;
position: absolute;
  border-radius: 15px;

}
 .blokje1{
   width: 70px;
 height: 70px;
 background-color: black;
 margin-top: 250px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }

 .blokje2{
   width: 70px;
 height: 70px;
 background-color: black;
 margin-top: 370px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }

 .lijn1{
   width: 20px;
 height: 140px;
 background-color: black;
 margin-top: 250px;
 margin-left: 152px;
 opacity: 0.8;
 position: absolute;
 }
 .vertreknu{
   width: 720px;
 height: 70px;
 background-color: whitesmoke;
 margin-top: 500px;
 margin-left: 130px;

 position: absolute;
   border-radius: 15px;
 }

 .vertreknu2{
   width: 720px;
 height: 70px;
 font-size: 2.5em;
 margin-top: 515px;
 margin-left: 250px;
 position: absolute;
 color: black;
 }

 .klokje{
   width: 50px;
   position: absolute;
   margin-top: 10px;
   margin-left: 30px;
 }
 .invulblokje1{
   width: 50px;
 height: 50px;
border: 5px solid black;
 margin-top: 600px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }
 .invulblokje2{
   width: 50px;
 height: 50px;
 border: 5px solid black;
 margin-top: 600px;
 margin-left: 430px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }
 .invulblokje3{
   width: 50px;
 height: 50px;
 border: 5px solid black;
 margin-top: 600px;
 margin-left: 730px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }
 .ganaarroute{
   width: 720px;
 height: 70px;
 background-color: #FFD700;
 margin-top: 750px;
 margin-left: 130px;

 position: absolute;
   border-radius: 15px;
 }

 .ganaarroute2{
   width: 720px;
 height: 70px;
 font-size: 3em;
 margin-top: 762px;
 margin-left: 325px;
 position: absolute;
 color: whitesmoke;

 }

 .button1{
   width: 720px;
 height: 70px;
 background-color: black;
 opacity: 0.8;
 margin-top: 1000px;
 margin-left: 130px;
 position: absolute;
   border-radius: 15px;
 }

 .koopticket{
   width: 720px;
 height: 70px;
 font-size: 2.5em;
 margin-top: 1020px;
 margin-left: 200px;
 position: absolute;
 color: white;
 }

 .button2{
   width: 720px;
 height: 70px;
 background-color: black;
 opacity: 0.8;
 margin-top: 1100px;
 margin-left: 130px;
 position: absolute;
   border-radius: 15px;
 }
 .Favorieten{
   width: 720px;
 height: 70px;
 font-size: 2.5em;
 margin-top: 1120px;
 margin-left: 200px;
 position: absolute;
 color: white;
 }

 .button3{
   width: 720px;
 height: 70px;
 background-color: black;
 opacity: 0.8;
 margin-top: 1200px;
 margin-left: 130px;
 position: absolute;
  border-radius: 15px;
 }
 .Account{
   width: 720px;
 height: 70px;
 font-size: 2.5em;
 margin-top: 1220px;
 margin-left: 200px;
 position: absolute;
 color: white;
 }

 .abbo{
   width: 200px;
 height: 200px;
 background-color: #FFD700;
 margin-top: 1400px;
 margin-left: 375px;
 position: absolute;
 border: 14px solid white;
 border-radius: 25px;
 }

 .abbo2{
   width: 720px;
 height: 70px;
 font-size: 3em;
 margin-top: 1650px;
 margin-left: 285px;
 position: absolute;
 color: whitesmoke;

 }

img{
  width: 100%;
  height: 100%;
}
