

body {
      width: 100%;
      height:100%;
      position: fixed;
        top: 0;
        padding: 0px;
        margin: 0px;
      background-image: url("bus.png");
      background-size: cover;
      font-family: 'Fira Sans', sans-serif;

}



header {
      background-color: white;
      height: 100px;
      width: 100%;
      margin-top: 0px;

      position: absolute;
}

.titel1{
  margin-left: 410px;
  margin-top: -60px;
  font-size: 3em;
  font-weight: bold;
  position: fixed;
}
.menu{
  margin-left: 25px;
  width: 80px;
  margin-top: 20px;
}

.icon{
  margin-left: 760px;
  width: 90px;
margin-top: 15px;
position:  absolute;

}


.ster{
  margin-left: 780px;
  margin-top: 260px;
  position: absolute;
}


.invul1{
  width: 600px;
height: 70px;
background-color: white;
margin-top: 250px;
margin-left: 250px;
opacity: 0.8;
position: absolute;
  border-radius: 15px;

}


.invultekst1{
  width: 720px;
height: 70px;
font-size: 2em;
margin-top: 275px;
margin-left: 300px;
position: absolute;
color: black;
font-weight: lighter;
}
.invultekst2{
  width: 720px;
height: 70px;
font-size: 2em;
margin-top: 395px;
margin-left: 300px;
position: absolute;
color: black;
}




.invul2{
  width: 600px;
height: 70px;
background-color: white;
margin-top: 370px;
margin-left: 250px;
opacity: 0.8;
position: absolute;
  border-radius: 15px;

}
 .blokje1{
   width: 70px;
 height: 70px;
 background-color: black;
 margin-top: 250px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }

 .blokje2{
   width: 70px;
 height: 70px;
 background-color: black;
 margin-top: 370px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }

 .lijn1{
   width: 20px;
 height: 140px;
 background-color: black;
 margin-top: 250px;
 margin-left: 152px;
 opacity: 0.8;
 position: absolute;
 }
 .vertreknu{
   width: 720px;
 height: 70px;
 background-color: whitesmoke;
 margin-top: 500px;
 margin-left: 130px;

 position: absolute;
   border-radius: 15px;
 }

 .vertreknu2{
   width: 720px;
 height: 70px;
 font-size: 2.5em;
 margin-top: 515px;
 margin-left: 250px;
 position: absolute;
 color: black;
 }

 .klokje{
   width: 50px;
   position: absolute;
   margin-top: 10px;
   margin-left: 30px;
 }
 .invulblokje1{
   width: 50px;
 height: 50px;
border: 5px solid black;
 margin-top: 600px;
 margin-left: 130px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }
 .invulblokje2{
   width: 50px;
 height: 50px;
 border: 5px solid black;
 margin-top: 600px;
 margin-left: 430px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }
 .invulblokje3{
   width: 50px;
 height: 50px;
 border: 5px solid black;
 margin-top: 600px;
 margin-left: 730px;
 opacity: 0.8;
 position: absolute;
   border-radius: 15px;
 }

 .Route1{
   width: 720px;
 height: 150px;
 background-color: white;
 margin-top: 750px;
 margin-left: 130px;
 position: absolute;
   border-radius: 15px;
 }

 .Route2{
   width: 720px;
 height: 150px;
 background-color: white;
 margin-top: 950px;
 margin-left: 130px;
 position: absolute;
   border-radius: 15px;
 }

 .Route3{
   width: 720px;
 height: 150px;
 background-color: white;
 margin-top: 1150px;
 margin-left: 130px;
 position: absolute;
   border-radius: 15px;
 }

 .abbo{
   width: 200px;
 height: 200px;
 background-color: #FFD700;
 margin-top: 1400px;
 margin-left: 375px;
 position: absolute;
 border: 14px solid white;
 border-radius: 25px;
 }

 .abbo2{
   width: 720px;
 height: 70px;
 font-size: 3em;
 margin-top: 1650px;
 margin-left: 285px;
 position: absolute;
 color: whitesmoke;

 }

.pijl1{
  margin-left: 620px;
  margin-top: 25px;
  width: 120px;
  position: absolute;

}

.pijl2{
  margin-left: 620px;
  margin-top: 25px;
  width: 120px;
  position: absolute;
}

.pijl3{
  margin-left: 620px;
  margin-top: 25px;
  width: 120px;
  position: absolute;
}

.busnummer1, .busnummer2, .busnummer3{
  font-size: 4em;
  margin-top: 40px;
  margin-left: 20px;
  position: absolute;
  font-weight: bolder;
}

.busrit1, .busrit2, .busrit3{
  font-size: 3em;
  margin-top: 40px;
  margin-left: 160px;
  position: absolute;
}

.bustijd1, .bustijd2, .bustijd3{
  font-size: 1.5em;
  margin-top: 110px;
  margin-left: 600px;
  position: absolute;
}




 img{
   width: 100%;
   height: 100%;
 }
