<!doctype html>
<html>
	<head>
		<title>DeLijnApp</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/account.css">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<button type="button" class="menu">   <img src="../images/menu.png" alt="menu"> </button>
			<button type="button" class="icon">   <img src="../images/icon.png" alt="icon"> </button>
			<div class="titel1"> <p> ACCOUNT </p> </div>
		</header>

		<div class="account"> <img class="accounticoon" src="../images/account.png" alt="account"></div>
		<div class="naam">  <p class="naamtekst"> VIRGINIE HEYLEN </p></div>

		<div class="afmelden"></div><p class="afmelden2"> Afmelden </p>


		<button type="button" class="abbo"></button><p class="abbo2"> Toon abbonement </p>

	</body>
</html>
