<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>De Lijn App</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

	<body>
		<header class="toolbar">
			<a href="/"><img src="images/menu.png" alt="menu"></a>
			<div class="toolbar-title">ACCOUNT</div>
		</header>

		<div class="account"> <img class="accounticoon" src="../images/account.png" alt="account"></div>
		<div class="naam">  <p class="naamtekst"> VIRGINIE HEYLEN </p></div>


		<button type="button">afmelden</button>
		<button type="button">toon abbonement</button>

	</body>
</html>
