<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Lijn</title>
</head>
<body>

    <h1>App Redesign Concept of De Lijn</h1>
    <p>login.ejs</p>

    <form action="/login" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <button type="submit">Login</button>
    </form>

    <header>

			<button type="button" class="menu">   <img src="menu.png" alt="menu"> </button>
			<button type="button" class="icon">   <img src="icon.png" alt="icon"> </button>


			<div class="titel1"> <p> ACCOUNT </p> </div>

			</header>

			<div class="account"> <img class="accounticoon" src="account.png" alt="account"></div>
			<div class="nummer"></div>

			<div class="afmelden"></div><p class="afmelden2"> Afmelden </p>


						<button type="button" class="abbo"></button><p class="abbo2"> Verleng abbonement </p>


</body>
</html>
