<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>De Lijn App</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

	<body>
		<header class="toolbar">
			<a href="/"><img src="images/menu.png" alt="menu"></a>
			<div class="toolbar-title">BUZZYPAS</div>
		</header>

			<div class="buzzypas"></div>
			<div class="nummer"><p class="abbonummer"> 02089541042 </p></div>

			<ul>
				<li><a href>VIRGINIE</a></li>
				<li><a href> HEYLEN</a></li>
				<li><a href>01/09/2017</a></li>
				<li><a href>30/06/2018</a></li>
			</ul>

	<button type="button">verleng abbonement</button>


	</body>
</html>
