<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="homepage.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <title>De Lijn</title>
</head>
<body>

  <header>

        <div class="container" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
<div class="titel1"> <p> PLAN ROUTE </p> </div>
<div class="icon">   <img src="icon.png" alt="icon"> </div>
  </header>
  <div class="blokje1"></div>
  <div class="blokje2"></div>
    <div class="lijn1"></div>

<div class="invul1">


</div><p class="invultekst1"> Vertrek </p>

<div class="invul2"></div>
</div><p class="invultekst2"> Aankomst </p>

<div class="vertreknu">
<div class="klokje">   <img src="clock.png" alt="klokje"> </div>
</div><p class="vertreknu2"> Vertrek nu </p>

</div>


<div class="invulblokje1"></div>
<div class="invulblokje2"></div>
<div class="invulblokje3"></div>

<div class="ganaarroute">
</div>
<div class="ganaarroute2">
<p> GA NAAR ROUTE </p></div>
<div class="button1"></div>
</div><p class="koopticket"> Koop ticket</p>
<div class="button2"></div>
</div><p class="Favorieten"> Favorieten </p>
<div class="button3"></div>
</div><p class="Account"> Account </p>

<div class="abbo"></div>
</div><p class="abbo2"> Toon abbonement </p>



<div class="header"> </div>

}
</body>
</html>
