<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>De Lijn App</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

	<body class="body-background">

		<header class="toolbar">
			<a href="/"><img src="images/home.png" alt="home"></a>
			<div class="toolbar-titel">PLAN ROUTE</div>
		</header>

		<form method="post" action="/routes">
			<ul class="clear">
				<li><input class="input" type="text" placeholder="vertrek" name="departure" /></li>
				<li><input class="input" type="text" placeholder="aankomst" name="arrival" /></li>
				<li>
					<select class="select" name="time">
						<option value='0'>Vertrek nu</option>
						<option value='1'>Over 1 uur</option>
						<option value='2'>Over 2 uur</option>
					</select>
				</li>
				<li class="txt-center">
					<button class="button-primary" type="submit">ga naar route</button>
				</li>
			</ul>
		</form>

		<ul class="clear txt-center">
			<li><a class="button-secondary" href="/koop-ticket">Koop ticket</a></li>
			<li><a class="button-secondary" href="/favorieten">Favorieten</a></li>
			<li><a class="button-secondary" href="/account">Account</a></li>
		</ul>

		<div class="txt-center">
			<button class="button-primary" type="button">toon abbonement</button>
		</div>

	</body>
</html>
