<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>De Lijn App</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>

	<body class="body-background">
		<header class="toolbar">
			<a href="/"><img src="images/home.png" alt="home"></a>
			<div class="toolbar-titel">KOOP TICKET</div>
		</header>

<div class="txt-center">
		<button class="button-primary" type="button" class="koopsms">KOOP SMS-TICKET</button>
</div>

		<div class="info">
			<p class="tekst1">
				Koop hier een bus ticket van 60 minuten via een sms!<br/>
				Druk op de knop hierboven of stuur 'DL' naar 4884
			</p>
		</div>
		<div class="txt-center">
		<button class="button-primary" type="button">toon abbonement</button>
		</div>
	</body>
</html>
