<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="Route.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <title>De Lijn</title>
</head>
<body>

  <header>
    <div class="container" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="titel1"> <p> PLAN ROUTE </p> </div>
    <div class="icon">   <img src="icon.png" alt="icon"> </div>

  </header>

  <div class="blokje1"></div>
  <div class="blokje2"></div>
    <div class="lijn1"></div>

  <div class="invul1">


  </div><p class="invultekst1"> Vertrek </p>

  <div class="invul2"></div>
  </div><p class="invultekst2"> Aankomst </p>

  <div class="vertreknu">
  <div class="klokje">   <img src="clock.png" alt="klokje"> </div>
  </div><p class="vertreknu2"> Vertrek nu </p>

  </div>


  <div class="invulblokje1"></div>
  <div class="invulblokje2"></div>
  <div class="invulblokje3"></div>

<div class="Route1">
<div class="pijl1">   <img src="pijl1.png" alt="icon"> </div>
</div>
<div class="Route2">
<div class="pijl2">   <img src="pijl1.png" alt="icon"> </div></div>

<div class="Route3">
<div class="pijl3">   <img src="pijl1.png" alt="icon"> </div></div>

<div class="abbo"></div>
</div><p class="abbo2"> Toon abbonement </p>


</body>
</html>
