<!doctype html>
<html>
	<head>
		<title>DeLijnApp</title>

		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Route.css">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<meta charset="utf-8">
	</head>
	<body>

		<header>
			<button type="button" class="menu">   <img src="menu.png" alt="menu"> </button>
			<button type="button" class="icon">   <img src="icon.png" alt="icon"> </button>
			<div class="titel1"> <p> ROUTES </p> </div>


		</header>

		<div class="blokje1"></div>
		<div class="blokje2"></div>
			<div class="lijn1"></div>

		<div class="invul1"></div>

<button type="button" class="ster">   <img src="ster.png" alt="ster"> </button>
		</div><p class="invultekst1"> Vertrek </p>

</div>

		<div class="invul2"></div>
		</div><p class="invultekst2"> Aankomst </p>

</div>
		<div class="vertreknu">
		<div class="klokje">   <img src="clock.png" alt="klokje"> </div>
		</div>
		<p class="vertreknu2"> Vertrek nu </p>
</div>


		<div class="invulblokje1"></div>
		<div class="invulblokje2"></div>
		<div class="invulblokje3"></div>

<div class="Route1">

<p class="busnummer1"> 18 </p>
<p class="busrit1"> 13:45 → 14:19 </p>

<p class="bustijd1"> 34min. </p>
<button type="button" class="pijl1">   <img src="pijl1.png" alt="icon"> </button>
</div>

<div class="Route2">
<p class="busnummer2"> 5 </p>
<p class="busrit2"> 13:59 → 14:26 </p>

<p class="bustijd2"> 27min. </p>
<button type="button" class="pijl2">   <img src="pijl1.png" alt="icon"> </button>
</div>

<div class="Route3">
<p class="busnummer3"> 18 </p>
<p class="busrit3"> 14:44 → 15:17 </p>

<p class="bustijd3"> 33min. </p>
<button type="button" class="pijl3">   <img src="pijl1.png" alt="icon"> </button>
</div>

<button type="button" class="abbo"></button>
<p class="abbo2"> Toon abbonement </p>

		<script src="Route.js"></script>
	</body>
</html>
